[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
sklearn = "*"
jupyterlab = "*"
tqdm = "*"
tensorflow-gpu = "*"

[dev-packages]

[requires]
python_version = "3.8"
